.jobs-container {
  display: flex;
  background-color: #000000;
  min-height: 100vh;
  padding: 30px;
  color: #ffffff;
}

.filters-container {
  width: 25%;
  margin-right: 30px;
  position: sticky;
  top: 90px;
  height: fit-content;
}

.filters-container ul {
  list-style-type: none;
  padding-left: 0;
}

.jobs-content {
  width: 75%;
}

.search-container {
  display: flex;
  background-color: #272727;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}

.search-container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 10px;
  outline: none;
}

.search-container button {
  background-color: #272727;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
}

.jobs-list {
  list-style-type: none;
  padding-left: 0;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}