.job-details-container {
  background-color: #000000;
  min-height: 100vh;
  padding: 30px;
  color: #ffffff;
}

.job-details-container img {
  width: 70px;
}

.job-details-container a {
  color: #4f46e5;
  text-decoration: none;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills-list li {
  text-align: center;
}

.skills-list img {
  width: 50px;
}

.similar-jobs-list {
  display: flex;
  gap: 20px;
}
