.login-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container form {
  background-color: #272727;
  padding: 40px;
  width: 350px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.login-container img {
  width: 150px;
  align-self: center;
  margin-bottom: 20px;
}

.login-container input {
  background-color: transparent;
  border: 1px solid #64748b;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
}

.login-container button {
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.login-container p {
  color: #ff0b37;
  font-size: 14px;
}
